[*.cs]

# CS8500: This takes the address of, gets the size of, or declares a pointer to a managed type
dotnet_diagnostic.CS8500.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
